@*below line is for strongly typed view *@
@model EmployeeManagement.Models.Employee
@*<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
*@


@*view data body*@
@*<body>
    <h1>@ViewData["PageTitle"]</h1>
    @{
        var employee = ViewData["Employee"]
            as EmployeeManagement.Models.Employee;
    }
    <div>
        Name: @employee.Name
    </div>
    <div>
        Email:@employee.Email
    </div>
    <div>
        Department:@employee.Department
    </div>

</body>*@


@*ViewBag body*@
@*<body>
<h3>@ViewBag.PageTitle</h3>
<div>
    Name:@ViewBag.Employee.Name
</div>
 <div>
     Email:@ViewBag.Employee.Email;
 </div>
 <div>
     Department:@ViewBag.Employee.Department;
</div>
</body>*@


@*Strongly typed view*@
@*<body>*@
<h3>@ViewBag.PageTitle</h3>
<div>
    Name:@Model.Name
</div>
<div>
    Email:@Model.Email
</div>
<div>
    Department:@Model.Department
</div>
@*</body>*@
@*</html>    *@                                                                                                                        